{% extends 'base.html.twig' %}

{% block title %}Todo{% endblock %}

{% block headingH1 %}Todos{% endblock %}

{% block body %}
  <table class="table table-light">
    <thead>
      <tr>
        <th>ID</th>
        <th>Text</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ todo.id }}</td>
        <td>{{ todo.text }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
